client/node_modules/
client/qa/
server/target/
server/data/
release/
*.log
**/*.vault
**/*.vault.tmp
**/*.mv.db
**/*.trace.db
**/.env
**/.env.*
!**/.env.example
**/*.p12
**/*.pfx
**/*.jks
**/*.key
**/state.json
.idea/
.vscode/
